@use '../../variables' as *;

.skeleton {
  background: linear-gradient(
    90deg,
    $bg-tertiary 0%,
    rgba(148, 163, 184, 0.15) 50%,
    $bg-tertiary 100%
  );
  background-size: 200% 100%;
  animation: skeleton-shimmer 1.5s ease-in-out infinite;
}

@keyframes skeleton-shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
